<div>
  <h1>CAET Advert reviewer</h1>
  <form [formGroup]="referencesForm" (ngSubmit)="onSubmit()">
    <div class="input-wrapper">

      <textarea name="references"
                id="references"
                [(ngModel)]="references"
                formControlName="references"
                 type="text"
                placeholder="Paste TAM references separated by a space, e.g. 123456 654321"
                rows="4">
      </textarea>
    </div>

    <label>
      jobs.rbs.com
      <input  formControlName="website" name="website" type="radio" [value]="'jobs'" [(ngModel)]="website">
    </label>
    <label>
      mycareer.rbs.com
      <input  formControlName="website" name="website" type="radio" [value]="'mycareer'" [(ngModel)]="website">
    </label>
    <label>
      jobs.redeployment.rbs.com
      <input  formControlName="website" name="website" type="radio" [value]="'jobs.redeployment'" [(ngModel)]="website">
    </label>

    <div *ngIf="referenceField.invalid && (referenceField.dirty || referenceField.touched)">
      <div *ngIf="referenceField.errors">
        <p>Some error message</p>
      </div>
    </div>
    <input [disabled]="!referencesForm.valid" type="submit" value="Submit">
  </form>

</div>
