<div class="review-component card">
  <app-loader *ngIf="!currentAdvert()" [message]="'Loading advert data...'"></app-loader>
  <app-advert-list (descriptionToggle)="updateDescriptionState($event)"
                   [adverts]="advertList"
                   [currentAdvert]="currentAdvertNumber"
                   [descriptionVisible]="descriptionVisible"
                   [ngClass]="{'description-active': descriptionVisible}"
                   [advertsLoaded]="advertsAreLoaded()"
                   *ngIf="currentAdvert()">
  </app-advert-list>
  <app-advert-description (descriptionToggle)="updateDescriptionState($event)"
                          [advert]="currentAdvert()"
                          [descriptionVisible]="descriptionVisible"
                          [ngClass]="{'description-active': descriptionVisible}"
                          (setAdvertStatus)="setStatus($event)"
                          *ngIf="currentAdvert()">

  </app-advert-description>
</div>
