:host{
  width: 0%;
  position: relative;
  transition: all 0.5s;
  opacity: 0;
  &.description-active {
    .status-controls {
      display:block;
    }
    .advert-description{
      width: 100%;
      height:100%;
      overflow:visible;
    }
    width: 70%;
    opacity:1;
    display: inline-block;
  }
}


.status-controls {
  position: absolute;
  right: 0;
  display:none;
  button {
    display: inline-block;
    margin-right: 10px;
    &.pass {
      background: #82A934;
    }
    &.fail {
      background: #E54A61;
    }
  }
}


.advert-description {

  width: 0;
  height:0;
  overflow:hidden;
  h1 {
    max-width:75%;
  }
  &-meta {
    margin-bottom:20px;
    > div {
      display: inline-block;
      margin-right:15px;
      font-size: 0.9rem;
      color: #696969;
      strong { font-weight:500 }
    }
  }
}


.error-message {
  margin: 0 auto;
  text-align:center;
  font-size:1.2rem;
  color: #838386;

}
