$font: 'RN House Sans', 'RNHouseSans';
$weight: 100;

$aqua: #1f9baa;
$crimson: #838386;
$dark-grey: #838386;


html {
  font-family: $font, calibri, arial, sans-serif;
}

body {
  background: #DCD8D6;
  margin: 10px auto;
  padding: 90px 20px 15px 20px;
  font-size: 1rem;
  font-weight: $weight;
}

h1, h2, h3, h4, h5, h6 {
  margin-top:0;
  font-weight: 400;
}

p, ul, ol {
  font-weight: $weight;
}

.loader {
  text-align: center;
  margin:auto;
  p {
    color: #838386;
    margin-bottom:20px;
  }
}

a {
  text-decoration: none;
}

button, input[type=submit], .btn {
  outline:0;
  border: 0;
  padding: 13px 20px;
  display: block;
  cursor: pointer;
  line-height:1.1;
  color: white;
  background: $aqua;
  font-size: 1.1rem;
  &:disabled {
    cursor: not-allowed;
    color: #bdbdbd;
    background: #eee;
  }
}

.form-icon {
  position: relative;
  line-height:1;
  &:after {
    font-family: 'FontAwesome';
    position: absolute;
    right: 15px;
    top:32%;
    color: #333;

  }
  &-arrow {
    &:after {
      content: '\f078';
    }
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;       /* remove default arrow */
  position: relative;
}

input[type=text], textarea, select {
  border: #fdfdfd;
  font-size:1rem;
  padding:  15px;
  background: darken(#fdfdfd, 3%);
  display: block;
  box-sizing: border-box;
  width:100%;
  font-weight:100;
  &::placeholder {
    color: darken(#eee, 10%);
  }
}


.card {
  background: white;
  display: block;
  padding: 15px 25px;
  box-shadow: 4px 4px 4px transparentize(black, 0.9);
}
